[submodule "vimrc"]
	path = vimrc
	url = git@personal:gmcastil/vimrc
[submodule "scripts"]
	path = scripts
	url = git@personal:gmcastil/scripts
[submodule "dot-files"]
	path = dot-files
	url = git@personal:gmcastil/dot-files
